html, body{
    font-family: sans-serif;
    margin:0;
    padding:0;
    min-height:100%;
}
/*
 * Styles for navigation and footer
 **/
.navbar, .footer{
    width: 100%;
    background-color: #4CAF50;
    color: #FFFFFF;
    letter-spacing: 3px;
    border-bottom: none;
}

.navbar{
    position: relative;
    font-family: sans-serif;
    border-radius: 0;
    border-color: #388E3C;
    border-color: #388E3C;
    border-top-style: solid;
    border-top-width: 7px;
    padding-bottom: 0.7em;
    
}

.navbar-default{
    margin-bottom: 0;
}

.footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 70px;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 10pt;
}

.navbar-header .navbar-brand, .navbar-default .nav > li > a{
    color: white; 
    text-transform: uppercase;
}

.nav {
    margin-top: 1.9em;
    font-size: 11pt;
    
}

.navbar-default .nav > li > a:hover{
    font-weight: bold;
    border-bottom: solid;
    border-color: black;
    border-width: 4px;
    transition: border ease 0.5s;
}

.navbar-default .nav > li > a:active{
    color: #388E3C;
    border-bottom: solid;
    border-color: black;
    border-width: 4px;
}

.navbar-brand{
    font-size: 17pt;
    margin-top: 1.5em;
}

.navbar-toggle{
    background-color: black;
    margin-top: 2.4em;
    border: none;
}
/******************************************************************************************/

/*
 * Positioning and styling for container and content section
 * Container ID wraps everything up and has min-height of 100% to take up whole page
 * Padding is equal to or greater than footer height for content section to avoid overlapping
 */

#container{
    min-height:100%;
    position: absolute;
    width: 100%;
}

#content{
    position: relative;
    padding-bottom: 70px;
    margin-top: 17px;
}

/*
 * Home page styling
 */
.homePage{
    background-color: #59b300;    
}


/*
 * Styled jumbotron to change default settings
 * Jumbotron is useful since it automatically resizes the text on smaller screens without additional coding
 */
.jumbotron{
    text-align: center;
    letter-spacing: 3px;
    color: white;
    background-color: #4CAF50; 
}

.objective{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

/******************************************************************************************/

/*
 * Miscellaneous styling
 */



.skillpart, .aboutSection{
    height: 500px;
}


.categories{
    cursor: pointer;
}

article{
    margin-left: 30px;
}


p{
    text-align: justify;
}

.start-para{
    text-indent: 30px;
    padding-top: 15px;
}

.headText, .instructText{
    color: #388E3C;
    text-indent: 10px;
    margin-left: 20pt;
}

.convert-section, .ref-header{
  text-align: center;   
}
.skills-header, .about-header, .ref-header, .instructText{
    color: #388E3C;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: thin;
    border-bottom-color: #388E3C;
}

.ref-section{
    padding: 2em;
}


